<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="static/css/style.css">
    <title>Credit Scoring Application</title>
</head>

<body>
    

    <h1> Credit Scoring Application</h1>

    <p> Developed for Software Engineering for Data Science Course - Hackathon 1 </p>
    <div>
        {% block main %}
            <h1>This only shows on structure.html</h1>

        {% endblock main %}
    </div>
</body>


</html>